<% provide(:title, 'Recherche de C.V.') %>

<div class="row">
  <div class="span6 offset3">

    <%= render 'search' %>

  </div>
  <div class="span10 offset1">
    <a name="result"></a>
    <%= render 'index' %>

  </div>
</div>