<% provide(:title, 'Compétences') %>

<div class="row">
  <div class="span5 offset7">
    <div style="float:right;">
      <%= link_to raw("<i class=\"fa fa-plus\"></i> compétence"), 
          new_skill_path, 
          class: "btn btn-small btn-success" %>
    </div>
    <div style="float:right; padding-right:3px;">
      <%= link_to raw("<i class=\"fa fa-plus\"></i> catégorie"), 
          new_category_path, 
          class: "btn btn-small btn-success" %>
    </div>
  </div>
</div>

<br>

<div class="row">
  <% Category.all.each do |cat| %>
  <div class="span8 offset2 well">
      <%= render 'categories/category', :category => cat %>
      <dl class="dl-horizontal">
        <% if @skills.where(category: cat).empty? %>
          <center><i>cette catégorie est vide</i></center>
        <% else %>
          <%= render @skills.where(category: cat) %>
        <% end %>
      </dl>
  </div>
  <% end %>
</div>