<% provide(:title, 'Compétences') %>

<div class="row">
  <div class="span3 offset2">
    <% Category.all.each do |cat| %>
      <%= render 'categories/category', :category => cat %>
      <dl class="dl-horizontal">
        <%= render @skills.where(category: cat) %>
      </dl>
    <% end %>

    <%= link_to "<i class='icon-plus'></i> Ajouter".html_safe, new_skill_path %><br>  
    <%= link_to "<i class='icon-th-list'></i> Catégories".html_safe, new_category_path %>
  </div>
</div>