<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<%= link_to "sample app", '#', id: "logo" %>
		<nav>
			<ul class="nav pull-right">
				<li><%= link_to "Accueil",		'/' %></li>
				<li><%= link_to "Nouveau",		adduser_path %></li>
			</ul>
		</nav>
	</div>
</header>